<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AddSchool</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>Contact School</h1>
        <br/>
        <form action="#" th:action="@{/schools/add}" th:object="${school}" method="POST">
            <input type="hidden" th:field="*{id}" ></input>
            Name: <input type="text" class="form-control" placeholder="Nombre del colegio"
                         minlength="5" maxlength="40" required pattern="[A-Za-z ]+" th:field="*{name}" th:value="${name}"></input>
            <br/>
            <br/>
            Address: <input type="text" class="form-control" placeholder="Direccion del colegio"
                            minlength="5" maxlength="40" required pattern="[A-Za-z0-9, ]+" th:field="*{address}" th:value="${address}"></input>
            <br/>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
            </button>
        </form>
        <a href="#" th:href="@{/schools/cancel}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
            </button>
        </a>
    </div>
</div>

</body>
</html>