<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Teacher Admin</h1>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Birth</th>
                <th>Active</th>
                <th>School</th>
                <th>Course</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teachers}">
                <td th:text="${teacher.name}"></td>
                <td th:text="${teacher.birth}"></td>
                <td>
                    <div th:if="${teacher.active == true}"><span class="glyphicon glyphicon-ok"></span></div>
                    <div th:if="${teacher.active == false}"><span class="glyphicon glyphicon-remove"></span></div>
                </td>
                <td th:text="${teacher.school.name}"></td>
                <td th:text="${teacher.course.name}"></td>
                <td>
                    <a href="#" >
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    </a>
                    <a href="#" >
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" >
            <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add Teacher</button>
        </a>
        <a href="#" th:href="@{welcome}">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Back</button>
        </a>
    </div>

</div>

</body>
</html>